$active-color: #1080f0;
$disabled-color: rgba(0, 0, 0, 0.333);
$toolbar-background-color: #fafafa;
$toolbar-border-color: #eee;
$tooltip-background-color: transparentize($toolbar-background-color, 0.667);
$tooltip-border-color: transparentize($toolbar-border-color, 0.667);
$toolbar-height: 37px;

.Controls {
  display: flex;
  flex-direction: row;
  background-color: $toolbar-background-color;
  border-bottom: 1px solid $toolbar-border-color;
  height: $toolbar-height;
  button {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    width: 32px;
    margin: 2px;
    padding: 0;
    &:focus {
      outline: none;
    }
    &:not(:disabled) {
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &:active svg, &.active svg {
        color: $active-color;
        stroke-width: 2px;
      }
    }
    &:disabled {
      cursor: not-allowed;
      color: $disabled-color;
      svg {
        stroke-width: 1.5px;
      }
    }
    &.active svg {
      color: $active-color;
      stroke-width: 2px;
    }
    // Individual button tweaking
    &#button-triangle {
      svg {
        position: relative;
        top: 2px;
      }
    }
    &#button-resetPositions {
      position: relative;
      svg {
        position: absolute;
        width: 19px;
        height: 19px;
      }
      #i-move {
        top: 1px;
        right: 1px;
      }
      #i-reply {
        left: 1px;
        bottom: 1px;
      }
    }
  }
  svg {
    stroke-width: 1px;
    width: 24px;
    height: 24px;
    &#i-plus {
      transform: translate(0.5px, 0.5px);
    }
  }
  .tooltip {
    position: absolute;
    left: 0;
    top: $toolbar-height;
    right: 0;
    z-index: 10;
    padding: 4px 6px;
    background-color: $tooltip-background-color;
    border-bottom: 1px solid $tooltip-border-color;
    font-size: 14px;
    font-style: italic;
    color: #333;
  }
}
