.ViewSvg {
  position: relative;
}

.node {
  text-anchor: middle;
  dominant-baseline: text-before-edge;
}

.node-edit-box {
  position: absolute;
  background-color: white;
  border: 1px inset silver;
  padding: 0;
  font: inherit;
  text-align: center;
}

.tree-link {
  stroke: black;
  stroke-width: 1px;
}

.node {
  cursor: pointer;
  & > rect {
    fill: transparent;
    stroke: none;
    shape-rendering: crispEdges;
  }
  &:hover > rect {
    fill: rgba(0, 0, 0, 0.1);
  }
  &.selected > rect {
    stroke: #333;
    stroke-width: 1;
    stroke-dasharray: 4 4;
    animation: 0.5s infinite linear marching-ants;
  }
}

@keyframes marching-ants {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -8px;
  }
}
